html,
body {
  font-family: "Open Sans", serif;
  font-size: 14px;
  font-weight: 300;
}
.hero {
  background-color: #f5f7fa;
  color: #dfe2d2;
}
.hero .title,
.hero .subtitle {
  color: #8c9ba5;
}
.hero .nav,
.hero.is-success .nav {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.box {
  margin-top: 5rem;
  box-shadow: 0 8px 27px -5px #888;
  padding-bottom: 35px;
}
form .field {
  margin-bottom: 18px !important;
}
.avatar {
  margin-top: -70px;
  padding-bottom: 20px;
}
.avatar img {
  width: 100px;
  padding: 5px;
  background: #dfe2d2;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1),
    0 0 0 1px rgba(10, 10, 10, 0.1);
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}
input {
  font-weight: 300;
}
p {
  font-weight: 700;
}
p.subtitle {
  padding-top: 1rem;
}

.dropdown.is-hoverable,
.dropdown.is-hoverable .dropdown-trigger,
.dropdown.is-hoverable .dropdown-trigger button {
  width: 100%;
}

.card .card-content p.title {
  color: #dfe2d2;
}

table {
  font-size: 20px;
}

@media only screen and (max-width: 900px) {
  table {
    font-size: 14px;
  }
}

.links a {
  color: #ff4e56;
}

table th {
  cursor: pointer;
}

table button {
  width: auto;
}

button.button,
a.button {
  color: white;
  background-color: #ff4e56;
}
.hidden {
  display: none;
}

.result {
  margin-top: 20px;
}
