html,
body {
  font-family: "Open Sans", serif;
  font-size: 14px;
  font-weight: 300;
}
.hero {
  background-color: #141d26;
  color: #dfe2d2;
}
.hero .title,
.hero .subtitle {
  color: #fff;
}
.hero .nav,
.hero.is-success .nav {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.box {
  margin-top: 5rem;
  box-shadow: 0 8px 27px -5px #888;
  padding-bottom: 35px;
}
form .field {
  margin-bottom: 18px !important;
}
.avatar {
  margin-top: -70px;
  padding-bottom: 20px;
}
.avatar img {
  width: 100px;
  padding: 5px;
  background: rgba(197,31,93,1);
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1),
    0 0 0 1px rgba(10, 10, 10, 0.1);
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}
input {
  font-weight: 300;
}
p {
  font-weight: 700;
}
p.subtitle {
  padding-top: 1rem;
}

.dropdown.is-hoverable,
.dropdown.is-hoverable .dropdown-trigger,
.dropdown.is-hoverable .dropdown-trigger button {
  width: 100%;
}

.card .card-content p.title {
  color: #dfe2d2;
}

table {
  font-size: 20px;
}

@media only screen and (max-width: 900px) {
  table {
    font-size: 14px;
  }
}

.links a, a {
  color: #c51f5d;
}

table th {
  cursor: pointer;
}

table button {
  width: auto;
}

button.button,
a.button {
  color: white;
  background-color: #c51f5d;
  border: 0;
}


a.button.upload {
  color: #c51f5d;
  background-color: rgba(0,0,0,0);
  border: 1px solid #c51f5d;
  border-radius: 3px;
}

a.button:hover {
  color: #9d184a;
  border: 1px solid #9d184a;
}

a.button:focus {
  border-color: #c51f5d;
  box-shadow: inset 0 1px 2px rgba(197,31,93,0.7);
}

.hidden {
  display: none;
}

.result {
  margin-top: 20px;
}

.fb-share-button {
  margin-top: 10px;
}

.input:focus {
  border-color: #c51f5d;
  box-shadow: inset 0 1px 2px rgba(197,31,93,0.5);
}
